@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body {
    background-color: #1D232A;
    font-family: 'Open Sans', 'icones', sans-serif;
    color: #ffffff;
}

@media screen and (min-width: 1080px) {
    body {
        display: grid;
        grid-template-columns: auto 1fr;
    }
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15191c;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.cabecalho__menu i::before {
    content: "\e904";
    font-size: 24px;
}

.cabecalho__perfil {
    cursor: pointer;
}

.cabecalho__notificacao i::before {
    content: "\e906";
    font-size: 24px;
}

.cabecalho__logo {
    width: 40px;
}

.cabecalho__perfil {
    display: none;
}

@media screen and (min-width: 1080px) {
    .cabecalho {
        background-color: #1D232A;
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: 32px;
        padding: 16px 60px;
        height: 80px;
        box-sizing: border-box;
        grid-column: 2;
    }

    .cabecalho__menu {
        display: none;
    }

    .cabecalho__logo {
        display: none;
    }

    .cabecalho__perfil {
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 8px;
        align-items: center;
        justify-self: flex-end;
        color: #95999c;
        padding: 8px 32px;
        border-right: 1px solid #95999c;
    }

    .cabecalho__perfil::before {
        content: "";
        display: block;
        width: 42px;
        height: 42px;
        background-image: url(https://avatars.githubusercontent.com/u/102550891?v=4);
        border-radius: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .cabecalho__perfil::after {
        content: "\e90D";
        color: white;
        font-size: 1.5rem;
    }

    .listaInfos {
        position: absolute;
        grid-column: 2;
        display: none;


    }

    .listaInfos a {
        border: 1px dashed white;
        padding: 12px;

    }

    .listaInfos--ativo {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.98);
        border-radius: 15px;
        width: 15rem;
        text-align: center;
        width: 235px;
        position: absolute;
        right: 100px;
        top: 80px;
        box-sizing: border-box;
        box-shadow: 0 5px 6px rgb(0 0 0 / 20%);
    }

    .gitLink {
        border-radius: 15px 15px 0 0;
    }

    .gitLink:hover {
        cursor: pointer;
    }

    .youtubeLink:hover {
        cursor: pointer;
    }

    .instaLink:hover {
        cursor: pointer;
    }

    .instaLink::after {
        content: "@hansenjaime";
        font-size: 10px;
        display: grid;
        margin-top: 5px;
    }

    .youtubeLink {
        border-radius: 0 0 15px 15px;
    }

    .gitLink::before {

        content: "";
        background-image: url('../img/github.png');
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 15px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;

    }

    .instaLink::before {

        content: "";
        background-image: url('../img/instagram\ \(1\).png');
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 30%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgb(255, 255, 255);
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;

    }


    .youtubeLink::before {

        content: "";
        background-image: url('../img/youtube.png');
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 20%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;

    }



}



.menu-lateral {
    display: flex;
    flex-direction: column;
    background-color: #15191c;
    width: 75vw;
    height: 100%;
    position: absolute;
    left: -100vw;
    transition: .60s;
}

.menu-lateral--ativo {
    left: 0;
    transition: .60s;
}





.gitLinkNav::before {
    content: "";
    background-image: url('../img/github.png');
    display: block;
    width: 24px;
    height: 24px;
    font-size: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    align-self: center;
    left: 24px;

}


.instaLinkNav::before {
    content: "";
    background-image: url('../img/instagram\ \(1\).png');
    display: block;
    width: 24px;
    height: 24px;
    font-size: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    align-self: center;
    left: 24px;

}

.instagramID {
    position: relative;
    font-size: 10px;
    top: 20px;
    right: 75px;
}



.youtubeLinkNav::before {
    content: "";
    background-image: url('../img/youtube.png');
    display: block;
    width: 24px;
    height: 24px;
    font-size: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    align-self: center;
    left: 24px;

}



.menu-lateral__logo {
    width: 118px;
    align-self: center;
    padding: 16px;
}

.menu-lateral__link {
    height: 64px;
    color: #95999c;
    padding-left: 64px;
    display: flex;
    align-items: center;
}

.menu-lateral__link--ativo {
    color: rgba(255, 255, 255, 0.609);
    padding-left: 56px;
    border-left: 8px solid white;
}

.menu-lateral__link::before {
    /* content: "\e900"; */
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
}



.menu-lateral__link--inicio::before {
    content: "\e902";
}

.menu-lateral__link--videos::before {
    content: "\e90e";
}

.menu-lateral__link--picos::before {
    content: "\e909";
}

.menu-lateral__link--integrantes::before {
    content: "\e903";
}

.menu-lateral__link--camisas::before {
    content: "\e900";
}

.menu-lateral__link--pinturas::before {
    content: "\e90a";
}

@media screen and (min-width: 1080px) {
    .menu-lateral {
        position: static;
        width: 200px;
        grid-column: 1;
        grid-row: 1 span 2;
    }

}

.principal {
    padding: 24px 16px;
    display: grid;
    gap: 16px;
}

@media screen and (min-width: 1080px) {
    .principal {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
            "titulo-pagina titulo-pagina titulo-pagina"
            "destaque-video destaque-video videos-recentes"
            "secao-videos secao-videos secao-videos"
            "produtos-recentes destaque-produtos destaque-produtos"
            "secao-produtos secao-produtos secao-produtos";
        column-gap: 32px;
        padding: 16px 60px;
        grid-column: 2;

    }

    .titulo-pagina {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .titulo-secao {
        font-size: 1.2rem;
        font-weight: 700;
    }

    .titulo-secao {
        grid-column: span 4;
    }
}



.cartao {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    background-color: #2c343a;

}

.cartao__imagem--desktop {
    display: none;
}

.cartao--destaque {
    margin-bottom: 16px;
}

.cartao__conteudo {
    padding: 16px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
}

.cartao__destaque {
    grid-column: span 2;
}

.cartao__titulo {
    font-size: 1.2rem;
    font-weight: 700;
    grid-column: span 2;
}

.cartao__perfil {
    color: #95999c;
    font-size: 0.9rem;
    grid-column: span 2;
}

.cartao__info {
    display: flex;
    align-items: center;
    color: #95999c;
}

.cartao__info--tempo::before {
    content: "\e90c";
    margin-right: 8px;
}

.cartao__info--vizualizacao::before {
    content: "\e90f";
    margin-right: 8px;
}


.cartao__botao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0480DC;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 0.9rem;
    justify-self: flex-end;
}


.cartao__botao--play::before {
    content: "\e90b";
    font-size: 24px;
}

.cartao__botao--destaque {
    width: 100%;
    grid-column: span 2;
}

.cartao__botao--destaque::before {
    margin-right: 8px;
}

.cartao--recentes {
    display: none;
}

@media screen and (min-width:1080px) {

    .cartao--destaque {
        margin-bottom: 0;
    }

    .cartao__imagem--mobile {
        display: none;
    }

    .cartao__imagem--desktop {
        display: block;
    }

    .cartao__botao--destaque {
        grid-column: auto;
        padding: 22px 15px;
    }

    .cartao--recentes {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        row-gap: 24px;
        width: 256px;
        padding: 16px;
        box-sizing: border-box;
        align-self: flex-start;
    }

    .cartao--recentes .cartao__titulo {
        grid-column: auto;
    }

    .cartao__link {
        font-size: 0.8rem;
        font-weight: 600;
        color: #0480DC;
        justify-self: flex-end;
    }

    .cartao__lista {
        display: grid;
        row-gap: 16px;
        grid-column: span 2;
    }

    .cartao__item {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 8px;
    }

    .cartao__item-thumbnail {
        width: 32px;
        grid-row: span 2;
    }

    .cartao__item-titulo {
        font-size: 0.9rem;
        line-height: 1.2rem;
        font-weight: 700;
    }

    .cartao__item-perfil {
        font-size: 0.8rem;
        color: #95999c;
    }
}

.secao {
    display: grid;
    gap: 16px;
}

@media screen and (min-width:1080px) {

    .secao {
        grid-template-columns: repeat(4, 1fr);


    }

    .destaque-video {
        grid-area: destaque-video;
    }

    .videos-recentes {
        grid-area: videos-recentes;
    }

    .secao-videos {
        grid-area: secao-videos;
    }

    .destaque-produtos {
        grid-area: destaque-produtos;
    }

    .produtos-recentes {
        grid-area: produtos-recentes;
    }

    .secao-produtos {
        grid-area: secao-produtos;
    }
}

.cartao__botao--play {
    cursor: pointer;

}
